$Red: #e63c35;
$Yellow: #fac700;
$Green: #67b62d;
$Blue: #009bdb;
$Orange: #ff8b22;
$Purple: #bb39ff;
$title-height: 60px;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
  background: #fff;
}

body{
  overflow: hidden;
}

#loading{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
  img{
    height: $title-height;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  p{
    position: absolute;
    bottom: 0;
  }
}

header{
  width: 100%;
  height: 100%;
  position: relative;
  h1{
    text-align: center;
    height: $title-height;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, $title-height / -2);
    padding: 0;
    margin: 0;
    font-size: $title-height;
    line-height: $title-height;
    img{
      height: $title-height;
    }
    #mark{
      position: absolute;
    }
    #logo{
      transform: translateX(-100%);
      opacity: 0;
    }
    > span{
      opacity: 0;
    }
  }
  a[href="#main"]{
    transition: .3s;
    display: none;
    left: 50%;
    color: #000;
    text-decoration: none;
    opacity: 0;
    position: absolute;
    bottom: 25%;
    transform: translate(-50%,50%);
    text-align: center;
    img{
      height: 1em;
    }
    &.show{
      opacity: .5;
    }
    &:hover{
      opacity: .25;
    }
  }
}

#conatiner{
  position: relative;
}

#bg{
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  div{
    position: absolute;
    left: 0;
    width: 100%;
    background: #fff center center/cover no-repeat fixed;
    &.noimage{
      background-image: url(https://life-is-tech.com/materials/images/lifeistech-logo.png);
      background-size: 100% auto;
    }
  }
}

#main{
  padding: 0 20px;
  background-color: rgba(255, 255, 255, .5);
  width: 600px;
  margin: 0 auto;
  .youtube {
  	position: relative;
  	padding-bottom: 56.25%;
  	padding-top: 30px;
  	height: 0;
  	overflow: hidden;
    background: #000;
  }
  
  .youtube iframe{
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
}
}

footer{
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 1.5em;
  line-height: 1.5em;
  background: #fff;
  div{
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
    a:hover, a:focus {
      text-decoration: none;
      color: #000;
    }
    a {
      position: relative;
      display: inline-block;
      height: 100%;
      text-decoration: none;
      color: #111;
      padding: 10px 0;
      box-sizing: border-box;
      img{
        height: 1em;
      }
    }
    a:hover:after, a:focus:after {
      -webkit-transform: scaleX(1);
      -ms--transform: scaleX(1);
      transform: scaleX(1);
      cursor: pointer;
    }
    a:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      background-color: #111;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
    }
  }
}

#thanks{
  font-size: 3em;
}

a:hover, a:focus {
	color: #FF4C4C;
}
a:hover {
	cursor: pointer;
}
a {
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
}
a {
	color: #008CBA;
	text-decoration: none;
	line-height: inherit;
}

.chuiten{
  display: none;
  box-sizing: border-box;
  overflow: auto;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  height: calc(100vh - 60px);
  width: 500px;
  margin: 0 auto;
  border: solid 2em #fff;
  border-radius: 2em;
  background: #fff;
  z-index: 3;
}

#modal-overlay{
  background: rgba(0,0,0,.5);
  height: 100%;
  width: 100%;
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}

.chuiten:target{
  display: block;
  ~ #modal-overlay{
    display: block;
  }
}

.colorful, h2{
  span:nth-child(6n+1){
    color:#FF4C4C
  }
  span:nth-child(6n+2){
    color:#0085FF
  }
  span:nth-child(6n+3){
    color:#7DC600
  }
  span:nth-child(6n+4){
    color:#FAC800
  }
  span:nth-child(6n+5){
    color:#FF8B00
  }
  span:nth-child(6n){
    color:#a278ff
  }
}
